---
import LogoFooter from "../assets/icons/logo.svg";
import IconFacebook from "../assets/icons/facebookClair.svg";
import IconInstagram from "../assets/icons/instagramclair.svg";
import IconTwitter from "../assets/icons/twitterclair.svg";
import IconYoutube from "../assets/icons/youtubeclair.svg";
---

<footer class="grille space-y-6 text-sm bg-darkpurple py-16 px-6 text-white">
    <a class="block" href="/" aria-label="Accueil">
        <LogoFooter />
        <h3 class="uppercase text-sm tracking-wide text-stone-400">Festival de science fiction</h3>
    </a>

    <nav class="space-y-3">
        <ul>
            <li><a href="/agenda">MENTIONS LEGALES</a></li>
            <li><a href="/contact">ARCHIVES</a></li>
            <li><a href="/agenda">CONTACTS & ACCES</a></li>
        </ul>
    </nav>

    <div class="space-y-3">
        <h3 class="uppercase text-sm tracking-wide text-stone-400">CONTACT</h3>
        <address class="not-italic">
            90000 Belfort <br />
            <a href="
            tel:0384542727"> 03 84 54 27 27 </a><br />
            <a href="contact@sci-fi-stival.fr"> contact@sci-fi-stival.fr</a>
        </address>
    </div>

    <div class="space-y-3">
        <h3 class="uppercase text-sm tracking-wide text-stone-400">
            Nous suivre
        </h3>
        <ul class="flex gap-4">
            <li>
                <a href="https://facebook.com" aria-label="facebook">
                    <IconFacebook class="fill-white" />
                </a>
            </li>
            <li>
                <a href="https://instagram.com" aria-label="instagram">
                    <IconInstagram class="fill-white" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com" aria-label="twitter">
                    <IconTwitter class="fill-white" />
                </a>
            </li>
            <li>
                <a href="https://youtube.com" aria-label="youtube">
                    <IconYoutube class="fill-white" />
                </a>
            </li>
        </ul>
    </div>
</footer>
