---
import Logo from "../assets/icons/logo.svg";
import IconFacebook from "../assets/icons/facebookclair.svg";
import IconInstagram from "../assets/icons/instagramclair.svg";
import IconTwitter from "../assets/icons/twitterclair.svg";
import IconYoutube from "../assets/icons/youtubeclair.svg";
---

<header
    class="px-6 py-4 fixed z-10 w-full flex items-stretch justify-between transition-all duration-300 ease-in-out bg-black lg:py-0"
    id="header"
>
    <div class="flex items-center relative z-20 lg:flex-row-reverse">
        <a href="/" aria-label="Accueil">
            <Logo class="w-32 h-16" />
        </a>
    </div>

    <div>
        <!-- Bouton menu visible uniquement en mobile -->
        <button
            class="group relative z-20 flex h-6 w-8 flex-col justify-between *:h-[2px] *:w-full *:bg-gray-300 *:transition-all *:duration-300 *:ease lg:hidden"
            id="menu-btn"
            aria-label="Menu"
            aria-controls="menu"
            aria-expanded="false"
        >
            <span
                class="group-aria-expanded:translate-y-[10.5px] group-aria-expanded:rotate-45"
            ></span>
            <span class="group-aria-expanded:opacity-0"></span>
            <span
                class="group-aria-expanded:-translate-y-[10.5px] group-aria-expanded:-rotate-45"
            ></span>
        </button>

        <!--  Menu principal -->
        <nav
            class="fixed z-10 inset-0 bg-darkpurple text-2xl text-white opacity-100 transition-all duration-300 ease-in-out max-lg:hidden lg:relative lg:flex lg:items-center lg:bg-transparent lg:text-sm lg:font-bold lg:uppercase lg:tracking-wide lg:text-white lg:opacity-100"
            id="menu"
        >
            <ul
                class="mt-12 mx-16 pt-12 lg:m-0 lg:flex *:relative *:overflow-hidden *:lg:before:absolute *:lg:before:bottom-0 *:lg:before:left-0 *:lg:before:h-2 *:lg:before:w-full *:lg:before:translate-y-2 *:lg:before:bg-pink *:lg:before:transition-all *:lg:before:duration-300 *:lg:before:ease-in-out *:lg:hover:before:translate-y-0"
            >
                <li>
                    <a
                        class="block px-5 py-4 lg:py-4 text-center"
                        href="/festival">Le festival</a
                    >
                </li>
                <li>
                    <a
                        class="block px-5 py-4 lg:py-4 text-center"
                        href="/invites">Les invités</a
                    >
                </li>
                <li>
                    <a class="block px-5 py-4 lg:py-4 text-center" href="/infos"
                        >Infos pratiques</a
                    >
                </li>
                <li>
                    <a
                        class="block px-5 py-4 lg:py-4 text-center"
                        href="/programme">Programmation</a
                    >
                </li>
                <li>
                    <a class="block px-5 py-4 lg:py-4 text-center" href="/films"
                        >Les films</a
                    >
                </li>
                <li>
                    <a
                        class="block px-5 py-4 lg:py-4 text-center"
                        href="/activites">Les activités</a
                    >
                </li>

                <li>
                    <a
                        class="block px-5 py-4 lg:py-4 lg:bg-white lg:text-black lg:px-8 text-center"
                        href="/contact">Contact</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toggle = document.querySelector("#menu-btn");
        const nav = document.querySelector("#menu");
        const page = document.body;

        if (toggle && nav) {
            toggle.addEventListener("click", () => {
                const isOpen = toggle.getAttribute("aria-expanded") === "true";
                toggle.setAttribute("aria-expanded", String(!isOpen));

                if (isOpen) {
                    nav.classList.add("max-lg:hidden");
                    nav.classList.add("h-screen");
                } else {
                    nav.classList.remove("max-lg:hidden");
                    nav.classList.remove("mh-screen");
                    nav.classList.add("bg-darkpurple");
                }

                page.classList.toggle("noscroll", !isOpen);
            });
        }

        /*  Cacher le header au scroll */
        const navBar = document.querySelector("#header");
        let lastScrollY = window.scrollY;
        let ticking = false;
        const offset = 205;

        function handleScroll() {
            const currentScrollY = window.scrollY;
            navBar.classList.toggle("bg-zinc-600/70", currentScrollY > offset);
            navBar.classList.toggle(
                "backdrop-blur-md",
                currentScrollY > offset,
            );

            if (currentScrollY > lastScrollY && currentScrollY > offset) {
                navBar.classList.add("-translate-y-full");
            } else {
                navBar.classList.remove("-translate-y-full");
            }

            lastScrollY = currentScrollY;
            ticking = false;
        }

        window.addEventListener("scroll", () => {
            if (!ticking) {
                window.requestAnimationFrame(handleScroll);
                ticking = true;
            }
        });
    });
</script>
